.ppp-p__body-tab {
  // min-height: 150px;
  &.ppp-p__pl-tab__main {
    padding: 18px 24px;
    .ant-table-body {
      min-height: 250px;
    }
  }
  .ppp-p__cp-tab__ac-tab__form {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: -8px;
    .ppp-p__field {
      flex: 50%;
      &:nth-of-type(3) {
        .ant-list-items {
          height: 200px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 6px;
            background-color: $scrollbar;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $border;
          }
        }
      }
    }
    .ppp-p__alert {
      // display: none;
      top: 0px;
      padding: 4px 25px;
      flex: 100%;
      .ant-alert-icon {
        top: 8px;
        left: 7px;
      }
    }
    .ppp-p__footer {
      flex: 100%;
    }
  }
}